.container-crud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.crud-card {
  width: 18rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
}

.icon-container {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.icon-class {
  vertical-align: middle;
}

.btn-l {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .crud-card {
    width: 100%;
  }
}